<!DOCTYPE html>
<html>
<head>
  <title>WorldWhiskyDay</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="wrapper">
<div class="container_12">
<div class="grid_10" style="min-height:60px;">
<%#= link_to image_tag('/images/logo2.png'), index_path %>
<h1 class="fontface"><%= link_to 'World Whisky Day', index_path %></h1>
</div>
<div class="grid_2 lang_menu">
 <!-- <%#= link_to "ESP", root_path(:locale => 'es') %> |  <%#= link_to 'ENG',  root_path(:locale => 'en') %> -->
</div>
<div class="clear"></div>
  <%= render :partial => 'layouts/header' %>
  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
   <%= yield %>
</div>
</div>
<div class="footer">
  <%= render :partial => 'layouts/footer' %>
</div>
</body>
</html>
