<!DOCTYPE html>
<html>
<head>
  <title>WorldWhiskyDay</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="wrapper">
<div class="container_12">
<div class="grid_12" style="height:20px;"></div>
<div class="grid_9" style="min-height:60px;padding-left: 0;margin: 0;">
<%= render :partial => 'sites/slider' %>
</div>
<div class="grid_3 lang_menu" style="z-index: 1000">
<%= link_to image_tag('wwd-logo.png'), index_path %>
</div>

<div class="grid_12" style="height:20px;"></div>
<div class="clear"></div>
  <%= render :partial => 'layouts/header' %>
  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
   <%= yield %>
</div>
</div>
<div class="footer">
  <%= render :partial => 'layouts/footer' %>
</div>
</body>
</html>
